body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	--chanchito-feliz: linear-gradient(rgb(238, 173, 173),rgb(93, 229, 253));
	--sombra:0px 9px 0px opacity 10%;
}
.main-container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: var(--chanchito-feliz);
}
.menu-items li{
	list-style: none;
	padding: 5px;
	cursor: pointer;
	margin-right:5px;
	margin-left:5px;

}
.icon-svg{
	height: 24px;
	width: 24px;
	border-radius: 50%;
}
.main-menu{
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-left: 1em;
	padding-right: 1em;
	border-bottom: solid #d4d4d4 3px;
	/*position: fixed;*/
	top: 0px;
	z-index: 3;
	background-color: aliceblue;
	box-shadow: var(--sombra);
}
.menu-items{
	display: flex;
	padding: 0px;
	margin: 0px;
	height: 3rem;
	align-items: center;
}
.header{
	width: 80%;
	height: 10rem;
	flex-wrap: wrap;
	background-color: aliceblue;
	display: flex;
	position: relative;
	z-index: 0;
}
.content-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.caja{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
	transition: all 1s;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
	transition: all 2s;
}
.texto{
    width: 100%;
    height: 100%;
    color: wheat;
    background-color: brown;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: 0;
    transition: all 1s;
}
.caja:hover .image{
	filter: blur(5px)
}
/*.caja:hover{
    box-shadow: 0px 0px 10px black;
}*/
.caja:hover{
	transform: scale(1.5,1);
}
.content-title{
    /*text-shadow: pos_x pos_y blur color;*/
    text-shadow: -3px -3px 3px aquamarine;
    border-radius: 50%;
    padding: 10px;
}
.content-title:hover{
    box-shadow: 0px 0px 10px black;
}